.mainpanel_parent {
  width: 100%;
  height: 100svh;
  background-color: white;

  .mainpanel {
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar_section {
      width: 300px;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      transition: var(--trans);

      .sidebar {
        .sidebar_section_inner {
          .top_bar {
            transition: var(--trans);
            .logo {
              .img {
                transition: var(--trans);
              }
            }
          }
        }
      }

      &.active {
        width: 50px;

        .sidebar {
          .sidebar_section_inner {
            .top_bar {
              flex-direction: column;
              gap: 0;

              .logo {
                .img {
                  background-image: url("../../assets/small_logo.webp");
                }
              }
            }
          }
        }
      }
    }

    .main_panel_dection {
      width: calc(100% - 300px);
      padding: 20px 20px;
      margin-left: 300px;
      transition: var(--trans);
      height: 100%;

      background: #fff;
      padding-bottom: 8px; /* leave room for scrollbar */

      .topbar_section {
        height: 50px;
        width: 100%;

        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        color: black;

        .backbutton {
          font-size: 20px;
          width: 30px;
          aspect-ratio: 1;
          background-color: var(--accent);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--white);
          cursor: pointer;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--accent);
          font-size: 18px;
          font-weight: 600;
        }
      }
      //   transition: var(--trans);

      &.active {
        width: calc(100% - 50px);
        margin-left: 50px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .mainpanel_parent {
    .mainpanel {
      .sidebar_section {
      }
      .main_panel_dection {
        width: calc(100% - 50px);
        margin-left: 50px;
      }
    }
  }
}
